<!DOCTYPE html>
<html>
<head>
  <title>Briefcake v2.0</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="selection:bg-yellow-100 bg-slate-100 dark:bg-slate-800 text-xl text-[#002E65] dark:text-slate-50 font-nunito">
<div class="sm:container mx-auto mb-20">
  <%= content_for?(:content) ? yield(:content) : yield %>
</div>
</body>
</html>
